.center-text {
    -fx-alignment: center;
}

/*
 * Weekly forecast
 */
.one-day-record-vbox {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: grey;
    -fx-background-color: #cdcdcd;
}

.header-vbox-weekly-forecast {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: grey;
}